#-MIBFILE: IANA-ADDRESS-FAMILY-NUMBERS-MIB.mib

IANA-ADDRESS-FAMILY-NUMBERS-MIB DEFINITIONS ::= BEGIN


mib-2 OBJECT IDENTIFIER ::= { mgmt 1 }
DisplayString ::=
	OCTET STRING (SIZE(0..255))

PhysAddress ::=
	OCTET STRING

MacAddress ::=
	OCTET STRING (SIZE(6))

TruthValue ::=
	INTEGER {
	true(1),
	false(2)
	}

TestAndIncr ::=
	INTEGER (0..2147483647)

AutonomousType ::=
	OBJECT IDENTIFIER

InstancePointer ::=
	OBJECT IDENTIFIER

VariablePointer ::=
	OBJECT IDENTIFIER

RowPointer ::=
	OBJECT IDENTIFIER

RowStatus ::=
	INTEGER {
	active(1),
	notInService(2),
	notReady(3),
	createAndGo(4),
	createAndWait(5),
	destroy(6)
	}

TimeStamp ::=
	TimeTicks

TimeInterval ::=
	INTEGER (0..2147483647)

DateAndTime ::=
	OCTET STRING (SIZE(8|11))

StorageType ::=
	INTEGER {
	other(1),
	volatile(2),
	nonVolatile(3),
	permanent(4),
	readOnly(5)
	}

TDomain ::=
	OBJECT IDENTIFIER

TAddress ::=
	OCTET STRING (SIZE(1..255))

AddressFamilyNumbers ::=
	INTEGER {
	other(0),
	ipV4(1),
	ipV6(2),
	nsap(3),
	hdlc(4),
	bbn1822(5),
	all802(6),
	e163(7),
	e164(8),
	f69(9),
	x121(10),
	ipx(11),
	appleTalk(12),
	decnetIV(13),
	banyanVines(14),
	e164withNsap(15),
	dns(16),
	distinguishedName(17),
	asNumber(18),
	xtpOverIpv4(19),
	xtpOverIpv6(20),
	xtpNativeModeXTP(21),
	fibreChannelWWPN(22),
	fibreChannelWWNN(23),
	gwid(24),
	afi(25),
	mplsTpSectionEndpointIdentifier(26),
	mplsTpLspEndpointIdentifier(27),
	mplsTpPseudowireEndpointIdentifier(28),
	eigrpCommonServiceFamily(16384),
	eigrpIpv4ServiceFamily(16385),
	eigrpIpv6ServiceFamily(16386),
	lispCanonicalAddressFormat(16387),
	bgpLs(16388),
	fortyeightBitMac(16389),
	sixtyfourBitMac(16390),
	reserved(65535)
	}

ianaAddressFamilyNumbers OBJECT IDENTIFIER ::= { mib-2 72 }

END

